
@{
    ViewData["Title"] = "Index";
}

<h1>Demo Upload file</h1>
<form asp-action="UploadFile" enctype="multipart/form-data">
    Chọn file: <input type="file" name="myfile" />
    <button>Upload single file</button>
</form>

