<ul class="list-group">
	<li class="list-group-item">
		<a asp-action="Index" asp-controller="Product" asp-route-id="1">Máy tính bảng</a>
	</li>
	<li class="list-group-item">
		<a asp-action="Index" asp-controller="Product" asp-route-id="2">Laptop</a>
	</li>
	<li class="list-group-item">
		<a asp-action="Index" asp-controller="Product" asp-route-id="3">Điện thoại di động</a>
	</li>
</ul>