@model Lab07.Data.Supplier


@{
    ViewData["Title"] = "Create";
}

<h1>Create Suppiler</h1>
<form asp-action="Create" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input class="form-control" asp-for="Id">
        <span asp-validation-for="Id" class="form-text"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="form-text"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input class="form-control" type="email" asp-for="Email">
        <span asp-validation-for="Email" class="form-text"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input class="form-control" asp-for="Phone">
        <span asp-validation-for="Phone" class="form-text"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Logo" class="form-label"></label>
        <input class="form-control" name="LogoImage" type="file">
    </div>
    <button class="btn btn-primary">SAVE</button>
</form>

